[user]
	name = James Vaughan
  username = jamesbvaughan
	email = james@jamesbvaughan.com
	signingkey = ~/.ssh/id_rsa

[core]
	editor = nvim

[init]
	defaultBranch = main

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = true

[fetch]
  prune = true

[commit]
  gpgsign = true

[gpg]
	format = ssh
