[user]
	name = James Vaughan
  username = jamesbvaughan
	email = james@jamesbvaughan.com
	signingkey = ~/.ssh/id_rsa

[core]
	editor = nvim

[init]
	defaultBranch = main

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = false

[fetch]
  prune = true

[commit]
  gpgsign = true

[gpg]
	format = ssh

[diff]
  # https://link.springer.com/article/10.1007/s10664-019-09772-z#Sec31
  algorithm = histogram
  tool = vimdiff

[diff "lockb"]
	textconv = bun
	binary = true
