<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>A66455EA-E1AB-4CEA-A9CB-CBBE42EF63E5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lg</string>
			<key>text</key>
			<string>livegrep</string>
			<key>url</key>
			<string>https://livegrep.corp.stripe.com/search/stripe?q={query}&amp;fold_case=auto&amp;regex=false&amp;context=true</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BD319325-6B54-4EA4-B9F9-CAC1F3F0DCF3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>go</string>
			<key>text</key>
			<string>go/{query}</string>
			<key>url</key>
			<string>http://go/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E085458B-7973-4DAE-AEA6-83EB828F14FB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>s</string>
			<key>text</key>
			<string>Home Search</string>
			<key>url</key>
			<string>http://go/s/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
