/*
* TODO: use these colors in more places
# Colors (Gruvbox dark)
colors:
  # Default colors
  primary:
    # hard contrast: background = '0x1d2021'
    background: '0x282828'
    # soft contrast: background = '0x32302f'
    foreground: '0xebdbb2'

  # Normal colors
  normal:
    black:   '0x282828'
    red:     '0xcc241d'
    green:   '0x98971a'
    yellow:  '0xd79921'
    blue:    '0x458588'
    magenta: '0xb16286'
    cyan:    '0x689d6a'
    white:   '0xa89984'

  # Bright colors
  bright:
    black:   '0x928374'
    red:     '0xfb4934'
    green:   '0xb8bb26'
    yellow:  '0xfabd2f'
    blue:    '0x83a598'
    magenta: '0xd3869b'
    cyan:    '0x8ec07c'
    white:   '0xebdbb2'
*/

/* :root { */
/*   --green: #98971a; */
/* } */

/* gruvbox colors */
@define-color bg #282828;
@define-color bg-hard #32302f;
@define-color bg-sofr #1d2021;
@define-color fg #ebdbb2;

@define-color black #282828;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color magenta #b16286;
@define-color cyan #689d6a;
@define-color white #a89984;

@define-color bright-black #928374;
@define-color bright-red #fb4934;
@define-color bright-green #b8bb26;
@define-color bright-yellow #fabd2f;
@define-color bright-blue #83a598;
@define-color bright-magenta #d3869b;
@define-color bright-cyan #8ec07c;
@define-color bright-white #ebdbb2;

* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMonoMedium Nerd Font, sans-serif;
  font-size: 18px;
  min-height: 0;
  color: @bg;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 8px;
}

#workspaces button:hover {
  border: none;
  box-shadow: none;
  text-shadow: none;
  background: transparent;
}

#workspaces button.focused {
    /* background: #21222C; */
}

#workspaces button.urgent {
    /* background-color: #eb4d4b; */
}

#mode {
    background-color: @red;
}

#window {
  /* margin-left: 10px; */
}


/* pills */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#window,
#workspaces,
#tray,
#custom-weather,
#custom-media {
  margin: 0 8px;
	border-radius: 26px;
  padding: 6px 16px;
  background: @bg;
}
#workspaces {
  padding: 0 6px;
  margin-left: 0px;
}
#temperature {
  margin-right: 0px;
}


/* connect the center pills */
#clock {
	border-radius: 26px 0 0 26px;
  margin-right: 0;
}
#custom-weather {
	border-radius: 0 26px 26px 0;
  margin-left: 0;
}


/* pill colors */
#workspaces { background: @blue;  }
#window                 { background: @green; }
#clock, #custom-weather { background: @blue; }
#temperature { background: @blue; }
#cpu { background: @yellow; }
#memory { background: @green; }
#network { background: @magenta; }
#pulseaudio { background: @cyan; }


#battery.charging, #battery.plugged {
    background-color: @green;
}

@keyframes blink {
    to {
        background-color: #F8F8F2;
        color: #21222C;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #F8F8F2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #F8F8F2;
}

#network.disconnected {
    color: @red;
}

#pulseaudio.muted {
    color: @red;
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
