* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMonoMedium Nerd Font, sans-serif;
    font-size: 10px;
    min-height: 0;
    color: #F8F8F2;
}

window#waybar {
    background-color: #21222C;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 0px;
}

#workspaces button:hover {
    background: #21222C;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused {
    background: #21222C;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#window,
#custom-media {
    padding: 0 8px;
}

#battery.charging, #battery.plugged {
    color: #F8F8F2;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #F8F8F2;
        color: #21222C;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #F8F8F2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #F8F8F2;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
