/* gruvbox colors */
@define-color bg #282828;
@define-color fg #ebdbb2;

@define-color red #cc241d;
@define-color green #98971a;

* {
  border: none;
  border-radius: 0;
  font-family: Berkeley Mono, sans-serif;
  /* font-weight: 500; */
  font-size: 18px;
  min-height: 0;
  color: @fg;
}

window#waybar {
  background: alpha(@bg, 0.8);
  padding-left: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @bg;
}
tooltip label {
  color: @fg;
}

#workspaces button {
  padding: 0 8px;
}

#workspaces button:hover {
  border: none;
  box-shadow: none;
  text-shadow: none;
  background: transparent;
}

#window {
  font-weight: bold;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#battery,
#cpu,
#memory,
#mode,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#window,
#workspaces,
#tray,
#custom-spotify,
#temperature,
#window,
#clock,
#custom-media,
#custom-events,
#custom-weather,
#workspaces {
  padding: 4px 16px;
}

#battery.charging, #battery.plugged {
  background-color: @green;
}

@keyframes blink {
  to {
    background-color: #F8F8F2;
    color: #21222C;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #F8F8F2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #F8F8F2;
}

#network.disconnected {
  color: @red;
}

#pulseaudio.muted {
  color: @red;
}

#custom-media {
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}
